# ANALYTICS PROJECT

#### Group name: 
- Group_1

#### Group Members:
- Omer Yalavac
- Vincent Tang
- Rhyme Bulbul

# Table of Contents
1. [Introduction](#Introduction)
2. [Overview](#Overview)
3. [Third Example](#third-example)
4. [Fourth Example](#fourth-examplehttpwwwfourthexamplecom)

# Introduction <a name="Introduction"></a>

The objective of this project is to predict the final grade of students using multiple linear regression.

# Overview <a name="Overview"></a>

### Data Source

Our dataset contains data on the achievement of students in secondary education of two Portuguese schools. The dataset was collected from http://archive.ics.uci.edu/ml/datasets/Student+Performance, using `student-por.csv`.
Our dataset has 649 instances, with 33 attributes, which can be verified with <code>df.dtypes</code>.

In [1]:
import pandas as pd

df = pd.read_csv('student-por.csv', sep=';')
pd.set_option('display.max_columns', None)

Our dataset was only one column of data including the column title with only the semi-colon (;) symbol seperating values, and so it needed to be seperated when being read in order to create the seperate columns with their respective row values using 
```
sep = ';'
```
---
This is how our dataset currently looks:

In [2]:
df.sample(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
105,GP,F,15,U,GT3,A,3,3,other,health,reputation,father,1,4,0,yes,no,no,no,yes,yes,no,no,4,3,3,1,1,4,10,10,10,10
267,GP,M,17,U,LE3,T,4,3,health,other,course,mother,2,2,0,no,no,no,yes,yes,yes,yes,yes,2,5,5,1,4,5,8,15,15,15
391,GP,F,17,U,GT3,T,3,4,services,other,course,mother,1,3,0,no,no,no,no,yes,yes,yes,no,4,4,5,1,3,5,8,11,13,14
357,GP,F,18,U,GT3,T,4,3,other,other,course,mother,1,3,0,no,yes,no,yes,yes,yes,yes,yes,4,3,4,1,1,5,2,14,15,17
334,GP,M,18,U,GT3,T,2,1,services,services,reputation,mother,1,3,0,no,no,no,yes,yes,yes,yes,no,4,2,4,1,3,2,0,14,15,15
358,GP,F,18,U,LE3,T,4,3,health,services,course,mother,2,1,0,no,yes,no,no,yes,yes,yes,no,3,2,4,1,4,1,8,12,12,15
621,MS,F,17,R,GT3,T,1,2,other,services,course,father,2,2,0,no,no,no,no,no,yes,no,no,3,2,2,1,2,3,0,13,13,13
416,GP,M,17,U,LE3,A,3,2,other,other,reputation,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,4,4,1,2,5,10,16,18,18
420,GP,F,18,U,LE3,A,2,2,services,other,reputation,mother,2,2,0,no,yes,no,no,yes,yes,yes,no,4,1,4,1,3,4,10,14,17,17
394,GP,F,17,R,GT3,A,3,2,other,other,home,mother,1,2,0,no,yes,no,no,yes,yes,yes,no,4,3,3,2,3,2,0,14,14,16

### Project Objective

### Target Feature

### Descriptive Features

The variable descriptions below are from the <code>student-por</code> file:

- <code>school</code>- student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)
- <code>sex</code> - student's sex (binary: 'F' - female or 'M' - male)
- <code>age</code> - student's age (numeric: from 15 to 22)
- <code>address</code> - student's home address type (binary: 'U' - urban or 'R' - rural)
- <code>famsize</code> - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)
- <code>Pstatus</code> - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)
- <code>Medu</code> - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education)
- <code>Fedu</code> - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 - 5th to 9th grade, 3 - secondary education or 4 - higher education)
- <code>Mjob</code> - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- <code>Fjob</code> - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')
- <code>reason</code> - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')
- <code>guardian</code> - student's guardian (nominal: 'mother', 'father' or 'other')
- <code>traveltime</code> - home to school travel time (numeric: 1 - <15 min., 2 - 15 to 30 min., 3 - 30 min. to 1 hour, or 4 - >1 hour)
- <code>studytime</code> - weekly study time (numeric: 1 - <2 hours, 2 - 2 to 5 hours, 3 - 5 to 10 hours, or 4 - >10 hours)
- <code>failures</code> - number of past class failures (numeric: n if 1<=n<3, else 4)
- <code>schoolsup</code> - extra educational support (binary: yes or no)
- <code>famsup</code> - family educational support (binary: yes or no)
- <code>paid</code> - extra paid classes within the course subject (Math or Portuguese) (binary: yes or no)
- <code>activities</code> - extra-curricular activities (binary: yes or no)
- <code>nursery</code> - attended nursery school (binary: yes or no)
- <code>higher</code> - wants to take higher education (binary: yes or no)
- <code>internet</code> - Internet access at home (binary: yes or no)
- <code>romantic</code> - with a romantic relationship (binary: yes or no)
- <code>famrel</code> - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)
- <code>freetime</code> - free time after school (numeric: from 1 - very low to 5 - very high)
- <code>goout</code> - going out with friends (numeric: from 1 - very low to 5 - very high)
- <code>Dalc</code> - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)
- <code>Walc</code> - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)
- <code>health</code> - current health status (numeric: from 1 - very bad to 5 - very good)
- <code>absences</code> - number of school absences (numeric: from 0 to 93) 

### these grades are related with the course subject, Math or Portuguese:
- <code>G1</code> - first period grade (numeric: from 0 to 20)
- <code>G2</code> - second period grade (numeric: from 0 to 20)
- <code>G3</code> - final grade (numeric: from 0 to 20, output target)

# Data Preparation

## Preliminaries

In [3]:
# Importing modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import patsy
import warnings
###
warnings.filterwarnings('ignore')
###
%matplotlib inline 
%config InlineBackend.figure_format = 'retina'
plt.style.use("ggplot")

## Data Cleaning and Transformation

In [4]:
print(f"Shape of the dataset is {df.shape} \n")
print(f"Data types are below where 'object' indicates a string type: ")
print(df.dtypes)

Shape of the dataset is (649, 33)

Data types are below where 'object' indicates a string type:
school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

---
Since our response variable is the final grade (G3), we do not need data on the first two periods so we will remove them:

In [5]:
df = df.drop(['G1', 'G2'], axis = 1)

The parent's job, and the reason for selecting the school the student attends, provides little to no value to our dataset, hence we will remove them. <br>The guardian of the student would only be relevant if the parents were apart, and considering that not all student's parents are apart, we will also remove this. <br>The columns: freetime, studytime, traveltime, goout, and activities all refer to how time was spent outside of school hours. Since we dont need all the specific details of time spent outside of school hours, only keeping freetime and studytime would give us all the information we need.

In [6]:
df = df.drop(['Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'goout', 'activities'], axis = 1)

Workday alcohol consumption (Dalc) and weekend alcohol consumption (Walc) can be added together to create weekly alcohol consumption (Wkalc), a rating out of 10 (from 0-very low to 8-very high):

In [7]:
df['Wkalc'] = df['Walc'] + df['Dalc'] - 2
df = df.drop(columns=['Walc', 'Dalc'])
df['Wkalc'].describe()

count    649.000000
mean       1.782743
std        1.992411
min        0.000000
25%        0.000000
50%        1.000000
75%        3.000000
max        8.000000
Name: Wkalc, dtype: float64

In [8]:
print(f'Now the number of columns are {df.shape[1]}. The dataset currently looks like:')
df.head()

Now the number of columns are 23. The dataset currently looks like:

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,studytime,failures,schoolsup,famsup,paid,nursery,higher,internet,romantic,famrel,freetime,health,absences,G3,Wkalc
0,GP,F,18,U,GT3,A,4,4,2,0,yes,no,no,yes,yes,no,no,4,3,3,4,11,0
1,GP,F,17,U,GT3,T,1,1,2,0,no,yes,no,no,yes,yes,no,5,3,3,2,11,0
2,GP,F,15,U,LE3,T,1,1,2,0,yes,no,no,yes,yes,yes,no,4,3,3,6,12,3
3,GP,F,15,U,GT3,T,4,2,3,0,no,yes,no,yes,yes,yes,yes,3,2,5,0,14,0
4,GP,F,16,U,GT3,T,3,3,2,0,no,yes,no,yes,yes,no,no,4,3,5,0,13,1

## Checking for Missing Values

In [9]:
print(f"\nNumber of missing values for each feature:")
print(df.isnull().sum())

Number of missing values for each feature:
school       0
sex          0
age          0
address      0
famsize      0
Pstatus      0
Medu         0
Fedu         0
studytime    0
failures     0
schoolsup    0
famsup       0
paid         0
nursery      0
higher       0
internet     0
romantic     0
famrel       0
freetime     0
health       0
absences     0
G3           0
Wkalc        0
dtype: int64

No missing attributes for any of the features

## Summary Statistics

In [10]:
from IPython.display import display, HTML
display(HTML('<b>Table 1: Summary of continuous features</b>'))
df.describe(include='int64')

,age,Medu,Fedu,studytime,failures,famrel,freetime,health,absences,G3,Wkalc
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,16.744222,2.514638,2.306626,1.930663,0.221880,3.930663,3.180277,3.536210,3.659476,11.906009,1.782743
std,1.218138,1.134552,1.099931,0.829510,0.593235,0.955717,1.051093,1.446259,4.640759,3.230656,1.992411
min,15.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,0.000000,10.000000,0.000000
50%,17.000000,2.000000,2.000000,2.000000,0.000000,4.000000,3.000000,4.000000,2.000000,12.000000,1.000000
75%,18.000000,4.000000,3.000000,2.000000,0.000000,5.000000,4.000000,5.000000,6.000000,14.000000,3.000000
max,22.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,32.000000,19.000000,8.000000

In [11]:
display(HTML('<b>Table 2: Summary of categorical features</b>'))
df.describe(include='object')

,school,sex,address,famsize,Pstatus,schoolsup,famsup,paid,nursery,higher,internet,romantic
count,649,649,649,649,649,649,649,649,649,649,649,649
unique,2,2,2,2,2,2,2,2,2,2,2,2
top,GP,F,U,GT3,T,no,yes,no,yes,yes,yes,no
freq,423,383,452,457,569,581,398,610,521,580,498,410

## Numerical features

### Searching for Outliers

We will check if any of the numerical features have any outliers based on `Table 1: Summary of continuous features`.

- Age is said to contain values between `15 and 22`. Based on Table 1, the minimum is `15` and the maximum is `22` and, hence, contains no `outliers`.
- Medu is said to contain values between `0 to 4`. Based on Table 1, the minimum is `0` and the maximum is `4` and, hence, contains `no outliers`.
- Fedu is said to contain values between `0 to 4`. Based on Table 1, the minimum is `0` and the maximum is `4` and, hence, contains `no outliers`.
- studytime is said to contain values between `1 to 4`. Based on Table 1, the minimum is `1` and the maximum is `4` and, hence, contains `no outliers`.
- failures is said to contain values between `0 to 4`. Based on Table 1, the minimum is `0` and the maximum is `3` and, hence, contains `no outliers`.
- famrel is said to contain values between `1 to 5`. Based on Table 1, the minimum is `1` and the maximum is `5` and, hence, contains `no outliers`.
- freetime is said to contain values between `1 to 5`. Based on Table 1, the minimum is `1` and the maximum is `5` and, hence, contains `no outliers`.
- health is said to contain values between `1 to 5`. Based on Table 1, the minimum is `1` and the maximum is `5` and, hence, contains `no outliers`.
- absences is said to contain values between `0 to 93`. Based on Table 1, the minimum is `0` and the maximum is `32` and, hence, contains `no outliers`.
- G3 is said to contain values between `0 to 20`. Based on Table 1, the minimum is `0` and the maximum is `19` and, hence, contains `no outliers`.
- Wkalc is said to contain values between `0 to 8`. Based on Table 1, the minimum is `0` and the maximum is `8` and, hence, contains `no outliers`.

## Catagorical Features

In [12]:
categoricalColumns = df.columns[df.dtypes==object].tolist()

for col in categoricalColumns:
    print('Unique values for ' + col)
    print(df[col].unique())
    print('')

Unique values for school
['GP' 'MS']

Unique values for sex
['F' 'M']

Unique values for address
['U' 'R']

Unique values for famsize
['GT3' 'LE3']

Unique values for Pstatus
['A' 'T']

Unique values for schoolsup
['yes' 'no']

Unique values for famsup
['no' 'yes']

Unique values for paid
['no' 'yes']

Unique values for nursery
['yes' 'no']

Unique values for higher
['yes' 'no']

Unique values for internet
['no' 'yes']

Unique values for romantic
['no' 'yes']

Each catagorical feature contains only two unique values each, such as 'yes' or 'no'. It seems like no accidental symbol, such as a full stop (.) is in any of the rows for any of the catagorical columns, so we dont need to use:
```
df['column_name'].str.rstrip(".")
``` 
We can convert each feature into binary with yes being 1 and no being 0.