In [1]:
print('group project')

group project

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('AirQualityUCI.csv')
df

                                                                                                            Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
10/03/2004;18.00.00;2            6;1360;150;11                 9;1046;166;1056;113;1692;1268;13 6;48 9;0                                                7578;;
10/03/2004;19.00.00;2;1292;112;9 4;955;103;1174;92;1559;972;13 3;47                             7;0  7255;;                                                NaN
10/03/2004;20.00.00;2            2;1402;88;9                   0;939;131;1140;114;1555;1074;11  9;54 0;0                                                7502;;
10/03/2004;21.00.00;2            2;1376;80;9                   2;948;172;1092;122;1584;1203;11  0;60 0;0                                                7867;;
10/03/2004;22.00.00;1            6;1272;51;6                   5;836;131;1205;116;1490;1110;11  2;59 6;0                                                7888;;
...                                                                                                                                                        ...
;;;;;;;;;;;;;;;;                 NaN                           NaN                              NaN  NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN
                                                                                                     NaN                                                   NaN

[9471 rows x 1 columns]

In [8]:
df.sample(10)

                                                                                                             Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
26/10/2004;22.00.00;1               4;1055;-200;7                9;895;175;758;79;1468;1043;19   8;63 7;1                                                4524;;
17/01/2005;23.00.00;1               9;1092;-200;7                4;875;298;751;143;1010;1347;4   2;58 1;0                                                4832;;
29/03/2005;22.00.00;1               4;1010;-200;4                8;752;206;740;127;1218;932;14   6;67 3;1                                                1102;;
15/02/2005;14.00.00;1               4;874;-200;4                 8;751;199;918;135;792;591;12    0;19 3;0                                                2716;;
29/06/2004;17.00.00;3               7;1317;-200;21               5;1338;200;593;198;2132;1362;37 1;26 9;1                                                6635;;
02/06/2004;14.00.00;-200;887;-200;4 8;754;32;1164;30;1523;560;30 9;30                            7;1  3493;;                                                NaN
03/02/2005;20.00.00;3               9;1444;-200;17               6;1227;646;485;231;1414;1891;9  3;55 5;0                                                6503;;
20/03/2004;19.00.00;3               5;1633;-200;16               6;1199;215;734;136;1919;1417;17 4;51 6;1                                                0159;;
11/08/2004;09.00.00;1               8;1165;-200;9                7;967;93;651;58;1825;1120;29    8;51 1;2                                                1054;;
28/01/2005;12.00.00;1               8;970;-200;5                 7;798;325;842;191;941;874;4     5;49 6;0                                                4210;;

In [7]:
df.describe()

       Date;Time;CO(GT);PT08.S1(CO);NMHC(GT);C6H6(GT);PT08.S2(NMHC);NOx(GT);PT08.S3(NOx);NO2(GT);PT08.S4(NO2);PT08.S5(O3);T;RH;AH;;
count                                                6915
unique                                               4941
top                                                7487;;
freq                                                    6